/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url("../fonts/dinpro/DINPro-Regular.otf"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url("../fonts/dinpro/DINPro-Bold.otf"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 300;
  src: url("../fonts/dinpro/DINPro-Medium.otf"); }

/* Defines custom NotoSans font */
@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/notosans/NotoSans-Regular.ttf"); }

body {
  font-family: 'NotoSans'; }

h1 {
  font-family: DINPro;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px; }
  @media (max-width: 767px) {
    h1 {
      font-size: 50px;
      text-align: center; } }
  @media (max-width: 575px) {
    h1 {
      font-size: 35px;
      line-height: 50px; } }

h2 {
  font-family: DINPro;
  font-weight: bold;
  font-size: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase; }

h3 {
  font-family: DINPro;
  font-weight: 300;
  font-size: 36px;
  text-transform: uppercase; }
  @media (max-width: 575px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-family: DINPro;
  font-size: 1.3rem; }
  @media (max-width: 575px) {
    h4 {
      font-size: 1.15rem; } }

@media (max-width: 575px) {
  html, body {
    overflow-x: hidden; } }
