/*@use 'vars';*/
.btn {
  font-family: DINPro;
  font-size: 140%;
  font-weight: bold;
  color: #fff;
  background-color: #A88AA8;
  border-radius: 50px;
  text-transform: uppercase;
  margin-top: 3%;
  padding: 3px 25px;
  transition: .3s ease; }

.btn:hover {
  transform: scale(1.05);
  opacity: 0.95; }

/*.disabled-btn {
  pointer-events: none !important;
}*/
.section {
  padding: 3%; }
  @media (max-width: 767px) {
    .section {
      padding: 30px 0px; } }

.header {
  padding-bottom: 1%; }

.white {
  color: white; }

#navbar {
  background-color: none;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  visibility: hidden;
  transition: all 200ms linear; }
  #navbar .nav-link {
    font-family: DINPro;
    font-size: 24px;
    font-weight: bold;
    color: transparent;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      #navbar .nav-link {
        font-size: 18px; } }
  #navbar .nav-link:hover {
    transition: .3s ease;
    opacity: 0.8; }
  @media (max-width: 575px) {
    #navbar {
      display: none !important; } }

.scrolled {
  visibility: visible !important;
  background-color: white !important;
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  transition: all 200ms linear; }
  .scrolled .nav-link {
    color: #A88AA8 !important;
    transition: color 200ms linear; }
  .scrolled .logo {
    background: -o-linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
    background: -moz-linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
    background: -webkit-linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
    background: linear-gradient(90deg, #00FFFF 0%, #AA96CA 46.35%, #FF6B98 100%);
    width: 50px;
    height: 50px;
    border-radius: 50px; }
  .scrolled .navbar-brand {
    margin-left: 10px;
    margin-right: 10px; }
  .scrolled .navbar-toggler {
    border: none; }

.navbar-brand {
  position: absolute; }

@media (max-width: 767px) {
  .scrolled .logo {
    width: 35px;
    height: 35px; } }

.navbar-nav > li {
  margin: 0vw 4vw; }
  @media (max-width: 991px) {
    .navbar-nav > li {
      margin: 0vw 2vw; } }
  @media (max-width: 767px) {
    .navbar-nav > li {
      margin: 0vw 1vw; } }

.hero {
  overflow: hidden;
  position: relative;
  padding-bottom: 75px; }

#birds {
  position: absolute;
  width: 100%;
  z-index: 3;
  padding: 0% 5%;
  padding-top: 30px; }
  @media (max-width: 991px) {
    #birds {
      padding-top: 100px; } }
  @media (max-width: 767px) {
    #birds {
      padding-top: 200px; } }
  @media (max-width: 767px) {
    #birds {
      padding-top: 175px; } }

@keyframes move_cloud_large {
  0% {
    opacity: 0;
    left: -20vw; }
  5% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0;
    left: 95vw; }
  100% {
    opacity: 0; } }

@keyframes move_cloud {
  0% {
    opacity: 0;
    left: -200px; }
  5% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: 0;
    left: 1200px; }
  100% {
    opacity: 0; } }

@keyframes move_cloud_mobile {
  0% {
    opacity: 0;
    left: -500px; }
  10% {
    opacity: 1; }
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  65% {
    opacity: 0;
    left: 900px; }
  100% {
    opacity: 0; } }

#cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6, #cloud7, #cloud8 {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  animation: move_cloud 80s infinite linear; }

#cloud1 {
  width: 700px;
  animation-delay: -40s; }

#cloud2 {
  width: 225px;
  height: 15%;
  margin-top: 300px;
  animation-delay: -48s; }

#cloud3 {
  width: 700px;
  margin-top: 325px;
  animation-delay: -26.4s; }

#cloud4 {
  width: 200px;
  margin-top: 150px;
  animation-delay: -28s; }

#cloud5 {
  width: 350px;
  margin-top: 250px;
  animation-delay: -9.6s; }

#cloud6 {
  width: 100px;
  margin-top: 220px;
  animation-delay: -4s; }

#cloud7 {
  width: 550px;
  margin-top: 25px;
  animation-delay: -68s; }

#cloud8 {
  width: 275px;
  margin-top: 400px;
  animation-delay: -72s; }

@keyframes wait {
  0% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    pointer-events: auto; } }

.hero-information {
  position: relative;
  z-index: 3;
  margin-top: 100px;
  animation: wait 600ms, fade-in 800ms 600ms;
  animation-duration: 2s;
  font-family: DINPro;
  font-size: 30px;
  font-weight: normal;
  color: white; }
  .hero-information .hero-logo {
    margin-bottom: 15px; }
  .hero-information #theme-logo {
    width: 250px;
    display: block;
    margin-bottom: 15px; }
  .hero-information #technica-logo {
    width: 600px; }

.register-btn {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fade-in 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  pointer-events: none; }

.hero-horizon {
  position: absolute;
  width: 100vw;
  padding-top: 500px;
  z-index: 1;
  background: #EDA29F;
  background-image: -o-linear-gradient(#47BCBB, #C4A3BE 20%, #EDA29F 55%, #EDA29F 98%, #628CB2 98%);
  background-image: -moz-linear-gradient(#47BCBB, #C4A3BE 20%, #EDA29F 55%, #EDA29F 98%, #628CB2 98%);
  background-image: -webkit-linear-gradient(#47BCBB, #C4A3BE 20%, #EDA29F 55%, #EDA29F 98%, #628CB2 98%);
  background-image: linear-gradient(#47BCBB, #C4A3BE 20%, #EDA29F 55%, #EDA29F 98%, #628CB2 98%); }
  @media (max-width: 991px) {
    .hero-horizon {
      padding-top: 550px; } }
  @media (max-width: 767px) {
    .hero-horizon {
      padding-top: 700px;
      background-image: -o-linear-gradient(#47BCBB, #C4A3BE 22%, #EDA29F 70%, #EDA29F 98%, #628CB2 98%);
      background-image: -moz-linear-gradient(#47BCBB, #C4A3BE 22%, #EDA29F 70%, #EDA29F 98%, #628CB2 98%);
      background-image: -webkit-linear-gradient(#47BCBB, #C4A3BE 22%, #EDA29F 70%, #EDA29F 98%, #628CB2 98%);
      background-image: linear-gradient(#47BCBB, #C4A3BE 22%, #EDA29F 70%, #EDA29F 98%, #628CB2 98%); } }
  @media (max-width: 575px) {
    .hero-horizon {
      padding-top: 600px;
      background-image: -o-linear-gradient(#47BCBB, #C4A3BE 25%, #EDA29F 80%, #EDA29F 98%, #628CB2 98%);
      background-image: -moz-linear-gradient(#47BCBB, #C4A3BE 25%, #EDA29F 80%, #EDA29F 98%, #628CB2 98%);
      background-image: -webkit-linear-gradient(#47BCBB, #C4A3BE 25%, #EDA29F 80%, #EDA29F 98%, #628CB2 98%);
      background-image: linear-gradient(#47BCBB, #C4A3BE 25%, #EDA29F 80%, #EDA29F 98%, #628CB2 98%); } }

@media only screen and (max-width: 991px) {
  .hero-information .hero-logo {
    margin-top: 150px; } }

@media only screen and (max-width: 767px) {
  .hero-information .hero-logo {
    margin-top: 225px; }
  .hero-information #technica-logo {
    width: 500px; }
  .hero-information #theme-logo {
    width: 200px; }
  .register-btn {
    font-size: 20px !important; } }

@media only screen and (min-width: 1200px) {
  #cloud1 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -40s; }
  #cloud2 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -48s; }
  #cloud3 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -26.4s; }
  #cloud4 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -28s; }
  #cloud5 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -9.6s; }
  #cloud6 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -4s; }
  #cloud7 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -68s; }
  #cloud8 {
    animation: move_cloud_large 80s infinite linear;
    animation-delay: -72s; } }

@media only screen and (max-width: 575px) {
  .hero {
    padding-bottom: 75px; }
  .hero-information {
    font-size: 5vw; }
    .hero-information #technica-logo {
      width: 80vw; }
    .hero-information #theme-logo {
      width: 40vw;
      min-width: 120px; }
  #cloud1 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -40s; }
  #cloud2 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -48s; }
  #cloud3 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -26.4s; }
  #cloud4 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -28s; }
  #cloud5 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -9.6s; }
  #cloud6 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -4s; }
  #cloud7 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -68s; }
  #cloud8 {
    animation: move_cloud_mobile 80s infinite linear;
    animation-delay: -72s; } }

.intro {
  background-image: url("../img/hero/horizon_bot.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 20vw;
  z-index: 0; }
  @media (max-width: 991px) {
    .intro {
      margin-top: 16vw; } }
  @media (max-width: 767px) {
    .intro {
      margin-top: 34vw; } }
  @media (max-width: 575px) {
    .intro {
      margin-top: 150px;
      padding-left: 3%;
      padding-right: 3%; } }
  @media only screen and (min-width: 1750px) {
    .intro {
      margin-top: 25%; } }

.intro-container {
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  background-color: white;
  /* IE8 */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 3%; }

#intro-vid {
  width: 100%;
  height: 100%;
  border-radius: 8px; }
  @media (max-width: 991px) {
    #intro-vid {
      height: 350px; } }
  @media (max-width: 767px) {
    #intro-vid {
      height: 250px; } }

.main {
  background-color: #C3DDE2;
  transition: background-color 200ms linear; }

.scroll-registration {
  background-color: #EBB8BE !important;
  transition: background-color 200ms linear; }

.scroll-faq {
  background-color: #CCA8C1 !important;
  transition: background-color 200ms linear; }

.scroll-sponsors {
  background-color: #324d66 !important;
  transition: background-color 200ms linear; }

.tracks {
  position: relative;
  z-index: 5;
  margin-top: -1vw; }

.track-note {
  color: grey;
  font-size: 0.85rem; }

.track-image {
  width: 200px; }

.beginner, .hardware, .general, .research {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background: white;
  /* IE8 8 */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  padding: 25px 10px;
  height: 100%;
  margin: 0px 5px;
  width: 675px; }
  .beginner h3, .hardware h3, .general h3, .research h3 {
    margin: 15px 0; }

.general-text, .beginner-text {
  padding: 0px 30px; }

.gallery {
  height: 450px; }

@media (max-width: 991px) {
  .gallery {
    height: 500px; }
  .beginner, .hardware, .general, .research {
    width: 500px; } }

@media (max-width: 767px) {
  .gallery {
    height: 500px;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%); }
  .beginner, .hardware, .general, .research {
    width: 550px;
    margin: 0px 3px; } }

@media (max-width: 575px) {
  .gallery {
    height: 510px; }
  .beginner, .hardware, .general, .research {
    width: 85%; } }

@media (max-width: 500px) {
  .gallery {
    height: 540px; } }

@media (max-width: 425px) {
  .gallery {
    height: 580px; }
  .general-text, .beginner-text {
    padding: 0px; } }

@media (max-width: 385px) {
  .gallery {
    height: 620px; } }

@media (max-width: 575px) {
  .registration {
    font-size: 1rem; } }

.hacker, .mentor, .volunteer {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background: white;
  /* IE8 8 */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  padding: 4%; }
  .hacker .btn, .mentor .btn, .volunteer .btn {
    margin: 3% 0%; }

.registration-image {
  height: 450px; }
  @media (max-width: 1000px) {
    .registration-image {
      height: auto;
      width: 100%; } }

.hacker-illustration, .mentor-illustration, .volunteer-illustration {
  border: 1px solid #000; }

@media only screen and (max-width: 991px) {
  .registration .btn {
    font-size: 17px; } }

@media only screen and (max-width: 767px) {
  .hacker, .mentor, .volunteer {
    text-align: center;
    width: 100%;
    padding: 3%;
    margin-bottom: 3%; }
    .hacker .btn, .mentor .btn, .volunteer .btn {
      margin: 0; } }

@media (max-width: 575px) {
  .faq {
    padding-left: 3%;
    padding-right: 3%; } }

.faq-container {
  background-color: white;
  padding: 3%;
  border-radius: 8px; }

.accordion {
  display: flex;
  justify-content: space-between;
  border: none;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  border-bottom: 3px solid white;
  transition: ease all 0.3s;
  cursor: pointer; }
  .accordion h4 {
    max-width: 95%; }

.accordion:hover, .accordion-active {
  border-color: #A88AA8; }

.faq-toggle-icon {
  position: relative;
  width: 10px;
  height: 10px;
  margin-top: 8px;
  /* Vertical line */
  /* horizontal line */ }
  .faq-toggle-icon:before, .faq-toggle-icon:after {
    content: "";
    position: absolute;
    background-color: black;
    transition: transform 0.25s ease-out; }
  .faq-toggle-icon:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px; }
  .faq-toggle-icon:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px; }

.accordion-active .faq-toggle-icon:before {
  transform: rotate(90deg); }

.accordion-active .faq-toggle-icon:after {
  transform: rotate(180deg); }

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out; }
  @media (max-width: 575px) {
    .panel {
      font-size: 1rem; } }

.sponsors-list {
  overflow: hidden; }

.sponsor-level-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.sponsor-tier {
  margin-bottom: 5%; }

.sponsor-tier-header {
  overflow: hidden;
  margin: 5px 0px;
  text-align: center;
  color: white; }

.sponsor-tier-header:before, .sponsor-tier-header:after {
  background-color: rgba(255, 255, 255, 0.9);
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%; }

.sponsor-tier-header:before {
  right: 0.5em;
  margin-left: -50%; }

.sponsor-tier-header:after {
  left: 0.5em;
  margin-right: -50%; }

.sponsor-img {
  filter: brightness(200%) grayscale(1);
  opacity: .75;
  width: 200px;
  z-index: 1;
  margin: 0px 50px;
  transition: .3s ease; }
  @media (max-width: 991px) {
    .sponsor-img {
      width: 150px;
      margin: 0px 30px; } }
  @media (max-width: 767px) {
    .sponsor-img {
      width: 120px;
      margin: 0px 20px; } }
  @media (max-width: 480px) {
    .sponsor-img {
      width: 200px;
      margin: 15px 40px; } }

.sponsor-img:hover {
  transform: scale(1.05);
  opacity: 1; }

.contact-footer {
  background-image: url("../img/contact_horizon.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media (min-width: 1500px) {
    .contact-footer {
      background-position: top; } }
  @media (max-width: 1199px) {
    .contact-footer {
      background-size: 1199px;
      background-position: bottom; } }
  @media (max-width: 991px) {
    .contact-footer {
      background-size: 1000px;
      background-position: 80% 70%; } }
  @media (max-width: 768px) {
    .contact-footer {
      background-size: 1000px;
      background-position: 50% 70%; } }
  @media (max-width: 575px) {
    .contact-footer {
      background-size: 0px; } }

@media (min-width: 1750px) {
  .contact {
    padding-bottom: 50px; } }

@media (min-width: 1850px) {
  .contact {
    padding-bottom: 10px; } }

@media (min-width: 2300px) {
  .contact {
    padding-bottom: 40px; } }

.contact-header {
  font-family: DINPro;
  font-size: 36px;
  font-weight: bold;
  color: black; }
  @media (max-width: 575px) {
    .contact-header {
      padding-bottom: 3%; } }

.contact-content {
  margin-top: -10px;
  margin-bottom: 20px; }

.link {
  color: black; }

.white-link {
  color: white !important; }

.link:hover {
  color: black;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none; }

.white-link:hover {
  color: white;
  transition: ease 0.3s;
  opacity: 0.7;
  text-decoration: none; }

.social-buttons > a:hover {
  text-decoration: none; }

.blue-circle, .purple-circle, .pink-circle {
  padding: 8px;
  margin: 0px 10px;
  transition: ease 0.2s;
  background-color: #82ECEC;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block; }
  .blue-circle:hover, .purple-circle:hover, .pink-circle:hover {
    transform: scale(1.06); }
  @media (max-width: 575px) {
    .blue-circle, .purple-circle, .pink-circle {
      margin: 0px 3px;
      padding: 5px;
      width: 40px;
      height: 40px; } }

.blue-circle {
  background-color: #4CA1A7; }

.purple-circle {
  background-color: #A88AA8; }

.pink-circle {
  background-color: #FF6B98; }

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center; }
  @media (min-width: 1700px) {
    .footer {
      padding-top: 40px; } }
  @media (min-width: 1850px) {
    .footer {
      padding-top: 0px;
      padding-bottom: 3vw; } }
  @media (min-width: 2300px) {
    .footer {
      padding-bottom: 4vw; } }
  @media (max-width: 575px) {
    .footer {
      font-size: 0.9rem;
      padding: 0.5rem 0rem; } }
  .footer #footer-links {
    margin-bottom: 5px; }

.footer a:link, a:visited {
  color: white; }

@media (max-width: 991px) {
  #mlh-trust-badge {
    right: 15px !important; } }
