/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/dinpro/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url('../fonts/dinpro/DINPro-Bold.otf');
}

/* Defines custom NotoSans font */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-Regular.ttf');
}

body {
  font-family: 'NotoSans';
}

h1 {
  font-family: DINPro;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;

  @media (max-width: 767px) {
    font-size: 50px;
    text-align: center;
  }

  @media (max-width: 575px) {
    font-size: 35px;
    line-height: 50px;
  }
}

h2 {
  font-family: DINPro;
  font-weight: bold;
  font-size: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: DINPro;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
  @media (max-width: 575px) {
    font-size: 30px;
  }
}

h4 {
  font-family: DINPro;
  font-size: 1.3rem;
  @media (max-width: 575px) {
    font-size: 1.15rem;
  }
}

@media (max-width: 575px) {
  html, body {
    overflow-x: hidden;
  }
}

html {
  // Extra small devices (portrait phones, less than 576px): Optimize for mobile
  @media (max-width: 575px) {
  }
  // Small devices (landscape phones, 576px and up): Change to mobile layout
  @media (min-width: 576px) and (max-width: 767px) {
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991px) {
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }
}
