/* Defines custom DINPro and DINPro bold fonts */
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/dinpro/DINPro-Regular.otf');
}

@font-face {
  font-family: 'DINPro';
  font-weight: 600;
  src: url('../fonts/dinpro/DINPro-Bold.otf');
}

/* Defines custom NotoSans font */
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/notosans/NotoSans-Regular.ttf');
}

body {
  font-family: 'NotoSans';
}
