$light-lavender: #CCA8C1;
$lavender: #A88AA8;

body {
  background-color: $light-lavender;
}

.beginner-resources {
  padding: 2%;
  background-color: white;
  border-radius: 8px;
}

.beginner-resource-header {
  font-weight: 300;
}

.beginner-subheader {
  text-transform: none;
  margin-top: 30px;
  font-family: DinPro;
}

.beginner-link {
  font-weight: 300;
  color: $lavender;
}

.beginner-link:hover {
  transition: .3s ease;
  opacity: 0.75;
  text-decoration: none;
  color: $lavender;
}

.gallery {
  height: 310px;
  margin-top: 50px;
  margin-bottom: 20px;
  left: auto !important;
  @media (max-width: 1199px) and (min-width: 992px) {
    height: 330px;
  }
}

.flickity-prev-next-button.previous {
  left: -60px !important;
  @media (max-width: 1250px) and (min-width: 1200px) {
    left: 10px !important;
  }
  @media (max-width: 1060px) and (min-width: 992px) {
    left: 10px !important;
  }
  @media (max-width: 845px) and (min-width: 768px) {
    left: 10px !important;
  }
  @media (max-width: 660px) {
    left: 10px !important;
  }
}

.flickity-prev-next-button.next {
  right: -60px !important;
  @media (max-width: 1250px) and (min-width: 1200px) {
    right: 10px !important;
  }
  @media (max-width: 1060px) and (min-width: 992px) {
    right: 10px !important;
  }
  @media (max-width: 845px) and (min-width: 768px) {
    right: 10px !important;
  }
  @media (max-width: 660px) {
    right: 10px !important;
  }
}

.beginner-video {
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.07);
  background: white; /* IE8 8 */
  background: rgba(255, 255, 255, .9);
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  margin: 0px 5px;
  width: 363px;
  @media (max-width: 1199px) {
    width: 300px;
  }
  @media (max-width: 991px) {
    width: 350px;
  }
  @media (max-width: 420px) {
    width: 95%;
  }
}

.beginner-video-embed {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.beginner-video-desc {
  padding: 10px;
}
