/*@use 'vars';*/
//temporary until resolve _vars.scss issue
$cyan: #82ECEC;
$pink: #EA668E;
$lavender: #A88AA8;
$light-lavender: #DED2E6;
$light-grey: #E5E5E5;
$grey: #C4C4C4;

@mixin dinpro-text($size, $weight, $color){
    font-family: DINPro;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.btn {
    @include dinpro-text(150%, bold, #fff);
    background-color: $lavender;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 3%;
}
// Track Circle Class
@mixin circle($color, $size) {
  background-color: $color;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
}
// Track Box Class
@mixin box($color) {
  border: 4px solid $color;
  box-sizing: border-box;
  padding: 10px;
}

.hero {
  background-image: url('../img/temp-horizon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1100px;
}

@keyframes move_cloud {
  0% {opacity: 0; left: 0%;}
  3% {opacity: 1;left: 5%;}
  100% {opacity: 1;left: 100%;}
}

#cloud-static {
  pointer-events: none;
  position: absolute;
  width: 35%;
  height: 57%;
  z-index: 1;
  animation: move_cloud 80s infinite linear;
}

.cloud-container {
  z-index: 11;
  position: relative;
}

#cloud-dynamic {
  position: absolute;
  -webkit-transform: perspective(2000px) translate3d(0px, 0px, 50px);
  transform: perspective(2000px) translate3d(0px, 0px, 50px);
}

// Track Circles
.beginner-circle {
  @include circle($cyan, 183px);
}

.general-circle {
  @include circle($lavender, 183px);
}

.research-circle {
  @include circle($pink, 183px);
}

// Track Boxes
.beginner {
  @include box($cyan);
}

.general {
  @include box($lavender);
}

.research {
  @include box($pink);
}

#navbar {
  background: #FFFFFF;
  display: flex;
  .nav-link {
    @include dinpro-text(24px,bold,$lavender);
    text-transform: uppercase;
  }
  .nav-link:hover {
    transition: .3s ease;
  }
}

.navbar-nav > li{
  margin-left: 33px;
  margin-right: 33px;
}

.navbar { padding-top: 0.01rem; padding-bottom: 0.01rem; }

.intro {
  padding: 64px 32px;
  background-color: $light-lavender;
}

.intro-header {
  padding-bottom: 1%;
}

.tracks {
  padding: 32px;
}

.track-header {
  padding-bottom: 1%;
}

.rectangle {
  display: block;
  height: 295px;
  width: 485px;
  top: 10px;
  padding-right: 30px;
}

.outer-intro-layer {
  padding-top: 44px;
  padding-left: 32px;
  padding-bottom: 59px;
}

.registration {
    background-color: $grey;
    padding: 2%;
}

.hacker, .mentor, .volunteer {
    background-color: white;
    text-align: center;
    padding: 5%;
    padding-bottom: 3%;
    width: 100%;
    height: 75%;
}

.faq {
    background-color: $light-lavender;
    padding: 3%;
}

.accordion {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 2%;
    border-bottom: 3px solid $grey;
    transition: ease all 0.3s;
}

.accordion:hover, .accordion-active {
    border-color: $lavender;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
 }

 .sponsors-list {
   overflow: hidden;
 }

.sponsor-img {
    width: 100px;
    height: 100px;
    z-index: 1;
    margin: 0px 50px;
}

.contact{
    background-color: $light-grey;
    text-align: center;
}

.contact-content a:link {
    color: #000;
}

//contact us circles
.blue-circle {
  @include circle($cyan, 51px);
}

.purple-circle {
  @include circle($lavender, 51px);
}

.pink-circle {
  @include circle($pink, 51px);
}

.footer {
    background-color: $grey;
    text-align: center;
}

.footer a:link, a:visited {
    color: #000;
}
