/*@use 'vars';*/
//temporary until resolve _vars.scss issue
$cyan: #82ECEC;
$pink: #EA668E;
$lavender: #A88AA8;
$light-lavender: #DED2E6;
$light-grey: #E5E5E5;
$grey: #C4C4C4;

@mixin dinpro-text($size, $weight, $color){
    font-family: DINPro;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

.btn {
    @include dinpro-text(15px, bold, #fff);
    background-color: $lavender;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 150%;
    margin-top: 3%;
}
// Track Circle Class
@mixin circle($color, $size) {
  background-color: $color;
  width: $size;
  height: $size;
  border-radius: 50%;
  display: inline-block;
}
// Track Box Class
@mixin box($color) {
  border: 4px solid $color;
  box-sizing: border-box;
  padding: 10px;
}

// Track Circles
.beginner-circle {
  @include circle(#82ECEC, 183px);
}

.general-circle {
  @include circle(#A88AA8, 183px);
}

.research-circle {
  @include circle(#EA668E, 183px);
}

// Footer Circles
.blue-circle {
  @include circle(#82ECEC, 51px);
}

.purple-circle {
  @include circle(#A88AA8, 51px);
}

.pink-circle {
  @include circle(#EA668E, 51px);
}

// Track Boxes
.beginner {
  @include box(#82ECEC);
}

.general {
  @include box(#A88AA8);
}

.research {
  @include box(#EA668E);
}

.intro {
  padding: 64px 32px;
  background-color: #DED2E6;
}

.intro-header {
  padding-bottom: 1%;
}

.tracks {
  padding: 32px;
}

.track-header {
  padding-bottom: 1%;
}

.rectangle {
  display: block;
  height: 295px;
  width: 485px;
  top: 10px;
  padding-right: 30px;
}

.outer-intro-layer {
  padding-top: 44px;
  padding-left: 32px;
  padding-bottom: 59px;
}

.registration {
    background-color: #C4C4C4;
    padding: 2%;
}

.hacker, .mentor, .volunteer {
    background-color: white;
    text-align: left;
    padding: 5%;
    padding-bottom: 3%;
    width: 100%;
    height: 75%;
}